<!-- 
    작성자 : 최고운

    최고운 - html/css 작성, 상단바 제작
 -->

{% load static %}

<!doctype html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    {% block header %}
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>언제 만나</title>
    <link rel="stylesheet" type="text/css" href="{% static './css/base.css' %}">
  </head>
  
  <body>
    <div id="body-wrapper">
      <!-- 상단 바 -->
      <header>
        <!-- 아이콘 -->
          <a id="navbar-brand" href="{% url 'cal:mycalendar' %}">
              <div>
                  <img src="{% static 'img/icons8-농구-30.png' %}">
                  <img src="{% static 'img/icons8-야구-공-30.png' %}">
                  <img src="{% static 'img/icons8-축구-2-30.png' %}">
              </div>
          </a>
          <!-- 로그인 상태 -->
          <div id="navbar-nav">
              <ul>
                  {% if user.is_authenticated %}
                  <li><a class="nav-link" href="{% url 'common:logout' %}">LOGOUT</a></li>
                  <li><a class="nav-link" href="{% url 'cal:group_managing' %}">MY PAGE</a></li>

                  {% else %}
                  <li><a class="nav-link" href="{% url 'common:login' %}">LOGIN</a></li>
                  <li><a class="nav-link" href="{% url 'common:signup' %}">JOIN</a></li>

                  {% endif %}
              </ul>
          </div>
      </header>

      <div id="body-content">
        <section>
          {% block main %}
          {% endblock %}
        </section>
      </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"></script>

    {% block script %}
    {% endblock %}


  </body>
</html>