<!-- 
    작성자 : 최고운, 정혜원

    최고운 - 날씨 출력, 운동 아이콘 출력, 참여자 리스트 출력, 멤버 별 일정 디스플레이, 선호 운동 종목 출력, 추천페이지 이동 구현,
            추천 일정 디스플레이, 일정 추가, 초대하기, 강퇴하기, 추천페이지 이동 권한 부여
    정혜원 - 
 -->


{% extends 'cal/base.html' %}
{% load static %}


{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block main %}
<!-- 로고 -->
<div id="logo"><img src="{% static 'img/icons8-입안자-24.png' %}"><p>언제 만나</p></div>
<!-- 달력 구현 -->
<div class="calender_box">
    <div class="calender">
        <div id="">
        </div>
        <div class="header">
            <div class="year-month"></div>
            <!-- 일정 추가 팝업창 구현 -->
            <div class="schedule-add">
                <a href="javascript:openPop(1);" class="schedule-btn">일정 추가</a>
            </div>
            <div class="popup_layer" id="popup_layer1" style="display: none;">
                <div class="popup_box">
                    <div class="border" id="border1">
                        <div style="height: 10px; width: 375px; float: top;">
                            <a href="javascript:closePop(1);"><img src="{% static 'img/ic_close.svg' %}" class="m_header-banner-close" width="30px" height="30px"></a>
                          </div>
                          <!--일정 추가 팝업 컨텐츠 영역-->
                          <div class="popup_cont">
                              <form method="POST">
                                  {% csrf_token %}
                                  <br>
                                  <span>일정명</span><input type="text" style="width:185px; height:25px;" name="sche-name"><br><br>
                                  <span>날짜</span><input type="date" style="width:180px; height:25px; padding-left:10px;" name="sche-date"><br><br>
                                  <span>메모</span><textarea style="resize:none; width:200px; height:100px; vertical-align:middle;" name="sche-memo"></textarea><br><br>
                                  <button type="submit" class="btn_close">추가하기</button><br><br>
                              </form>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="main">
            <div class="days">
                <div class="day">SUN</div>
                <div class="day">MON</div>
                <div class="day">TUE</div>
                <div class="day">WED</div>
                <div class="day">THU</div>
                <div class="day">FRI</div>
                <div class="day">SAT</div>
            </div>
            <div class="dates"></div>
        </div>
    </div>
</div>

<!-- 멤버별 가능한 일정 선택 페이지 이동 버튼 -->
<div class="day-add">
    <a class="day-btn" href="{% url 'cal:my_schedule' %}"><img src="{% static 'img/icons8-추가-48.png' %}" width="30px"><span>내가 운동할 수 있는 날 추가하기</span></a>
</div>
<!-- 선호 운동 종목 출력 -->
<div class="list-area" id="list-area-1">
    <p><img src="{% static 'img/icons8-달리는-24.png' %}" width="30px">선호 운동 리스트</p>
    <div class="list-box" id="sports">
        <form>
            <label><input type="checkbox" name = "sports" id="1" disabled><img src="{% static 'img/icons8-축구-2-30.png' %}">축구</label>
            <label><input type="checkbox" name = "sports" id="2" disabled><img src="{% static 'img/icons8-달리는-24.png' %}">조깅</label>
            <label><input type="checkbox" name = "sports" id="3" disabled><img src="{% static 'img/icons8-농구-30.png' %}">농구</label><br><br>
            <label><input type="checkbox" name = "sports" id="4" disabled><img src="{% static 'img/icons8-shuttercock-32.png' %}">배드민턴</label>
            <label><input type="checkbox" name = "sports" id="5" disabled><img src="{% static 'img/icons8-야구-공-30.png' %}">야구</label>
            <label><input type="checkbox" name = "sports" id="6" disabled><img src="{% static 'img/icons8-테니스-30.png' %}">테니스</label>
        </form>
    </div>
</div>

<div class="list-area" id="list-area-2">
    <!-- 참여자 리스트 디스플레이 -->
    <p><img src="{% static 'img/icons8-group-32.png' %}" width="30px">참여자 리스트</p>
    <div class="list-box" id="mem-list">
        <ul id="mem-ul"></ul>
    </div>

    <!-- 초대하기 팝업창 구현 -->
    <a class="part-btn" id="invitation-btn" href="javascript:openPop(2);">초대하기</a>
    <div class="popup_layer" id="popup_layer2" style="display: none;">
        <div class="popup_box">
            <div class="border" id="border2">
                <div style="height: 10px; width: 375px; float: top;">
                    <a href="javascript:closePop(2);"><img src="{% static 'img/ic_close.svg' %}" class="m_header-banner-close" width="30px" height="30px"></a>
                  </div>
                  <!--초대하기 팝업 컨텐츠 영역-->
                  <div class="popup_cont">
                      <form method="POST">
                          {% csrf_token %}
                          <br>
                          <p style="font-size:18px;">초대할 ID를 입력해주세요</p>
                          <input type="text" name="invite-name" id="invite-name" placeholder="ID"><br><br>
                          <button type="submit" class="btn_close">초대하기</button><br><br>
                      </form>
                  </div>
            </div>
        </div>
    </div>

    <!-- 강퇴하기 팝업창 구현 -->
    <a class="part-btn" id="kick-btn" href="javascript:openPop(3);">강퇴하기</a>
    <div class="popup_layer" id="popup_layer3" style="display: none;">
        <div class="popup_box">
            <div class="border" id="border3">
                <div style="height: 10px; width: 375px; float: top;">
                    <a href="javascript:closePop(3);"><img src="{% static 'img/ic_close.svg' %}" class="m_header-banner-close" width="30px" height="30px"></a>
                  </div>
                  <!--강퇴하기 팝업 컨텐츠 영역-->
                  <div class="popup_cont">
                      <form method="POST">
                            {% csrf_token %}
                            <br>
                            <p style="font-size:18px;">강퇴할 ID를 선택해주세요</p><br>
                            <div id="kickOut"></div><br>
                            <button type="submit" class="btn_close">강퇴하기</button><br><br>
                      </form>
                  </div>
            </div>
        </div>
    </div>
</div>
<!-- 추천 페이지 이동 탭 -->
<div class="list-area" id="list-area-3">
    <p><img src="{% static 'img/icons8-chat-room-24.png' %}" width="30px">추천</p>
    <div class="list-box" id="rec">
        <p>선호하는 운동이 비슷한 다른 그룹과 함께 운동해보세요!</p><br>
        <a href="javascript:groupName();">함께하기</a>
    </div>
</div>

{% endblock %}

{% block script %}
<script> 

    //그룹 멤버 데이터 처리
    var members_data = "{{ membersall }}".replace(/&quot;/g, "\"");
    var members = JSON.parse(members_data);
    var m_k = Object.keys(members);
    var member_list = document.getElementById("mem-ul");
    var color;
    var color_list = {};
    
    //멤버 별 색깔 부여
    for(i=0; i<m_k.length; i++){
        switch(i){
            case 0: //빨강
                color = `<div style="display:inline-block; width:15px; height:15px; background-color:#FF0000; opacity:0.6; border-radius:10px;" id="${members[i]}"></div>`;
                color_list[members[i]] = `<div style="display:inline-block; width:13px; height:13px; background-color:#FF0000; opacity:0.6; border-radius:10px; margin-right:5px;"></div>`;
                break;
            case 1: //주황
                color = `<div style="display:inline-block; width:15px; height:15px; background-color:#FF7A00; opacity:0.6; border-radius:10px;" id="${members[i]}"></div>`;
                color_list[members[i]] = `<div style="display:inline-block; width:13px; height:13px; background-color:#FF7A00; opacity:0.6; border-radius:10px; margin-right:5px;"></div>`;
                break;
            case 2: //노랑
                color = `<div style="display:inline-block; width:15px; height:15px; background-color:#FFF500; opacity:0.6; border-radius:10px;" id="${members[i]}"></div>`;
                color_list[members[i]] = `<div style="display:inline-block; width:13px; height:13px; background-color:#FFF500; opacity:0.6; border-radius:10px; margin-right:5px;"></div>`;
                break;
            case 3: //초록
                color = `<div style="display:inline-block; width:15px; height:15px; background-color:#24FF00; opacity:0.6; border-radius:10px;" id="${members[i]}"></div>`;
                color_list[members[i]] = `<div style="display:inline-block; width:13px; height:13px; background-color:#24FF00; opacity:0.6; border-radius:10px; margin-right:5px;"></div>`;
                break;
            case 4: //파랑
                color = `<div style="display:inline-block; width:15px; height:15px; background-color:#00E0FF; opacity:0.6; border-radius:10px;" id="${members[i]}"></div>`;
                color_list[members[i]] = `<div style="display:inline-block; width:13px; height:13px; background-color:#00E0FF; opacity:0.6; border-radius:10px; margin-right:5px;"></div>`;
                break;
            case 5: //남색
                color = `<div style="display:inline-block; width:15px; height:15px; background-color:#0500FF; opacity:0.6; border-radius:10px;" id="${members[i]}"></div>`;
                color_list[members[i]] = `<div style="display:inline-block; width:13px; height:13px; background-color:#0500FF; opacity:0.6; border-radius:10px; margin-right:5px;"></div>`;
                break;
            case 6: //보라색
                color = `<div style="display:inline-block; width:15px; height:15px; background-color:#BD00FF; opacity:0.6; border-radius:10px;" id="${members[i]}"></div>`;
                color_list[members[i]] = `<div style="display:inline-block; width:13px; height:13px; background-color:#BD00FF; opacity:0.6; border-radius:10px; margin-right:5px;"></div>`;
                break;
            case 7: //핑크색
                color = `<div style="display:inline-block; width:15px; height:15px; background-color:#FF00E5; opacity:0.6; border-radius:10px;" id="${members[i]}"></div>`;
                color_list[members[i]] = `<div style="display:inline-block; width:13px; height:13px; background-color:#FF00E5; opacity:0.6; border-radius:10px; margin-right:5px;"></div>`;
                break;
        }

        member_list.innerHTML += `<li id="m_list" style="font-family:'SuncheonB'; margin-bottom:10px;">${members[i]} ${color}</li>`;
    }

    //달력 제작 부분
    const date = new Date();
    const renderCalender = () => {
        const viewYear = date.getFullYear();
        const viewMonth = date.getMonth();

        document.querySelector('.year-month').textContent = `${viewYear}년 ${viewMonth + 1}월`;

        const prevLast = new Date(viewYear, viewMonth, 0);
        const thisLast = new Date(viewYear, viewMonth+1, 0);

        const PLDate = prevLast.getDate();
        const PLDay = prevLast.getDay();

        const TLDate = thisLast.getDate();
        const TLDay = thisLast.getDay();

        const prevDates = [];
        const thisDates = [...Array(TLDate + 1).keys()].slice(1);
        const nextDates = [];

        if (PLDay !==6) {
            for (let i = 0; i<PLDay +1; i++){
                prevDates.unshift(PLDate -i);
            }
        }

        for (let i = 1; i < 7 - TLDay; i++){
            nextDates.push(i);
        }


        const dates = prevDates.concat(thisDates, nextDates);
        const firstDateIndex = dates.indexOf(1);
        const lastDateIndex = dates.lastIndexOf(TLDate);


        const m = viewMonth + 1;


        //날씨 데이터 처리
        const weather_data = "{{ data }}".replace(/&quot;/g, "\"");
        var result = JSON.parse(weather_data);
        var k = Object.keys(result);

        //운동 데이터 처리
        var w_sport = "{{ sports_date }}".replace(/&quot;/g, "\"");
        var weather_sports = JSON.parse(w_sport);
        var w_k = Object.keys(weather_sports);

        //멤버 별 일정 데이터 처리
        var indi_tmp = "{{ schedule_data_dic }}".replace(/&quot;/g, "\"");
        var individual = JSON.parse(indi_tmp);
        var s_k = Object.keys(individual);

        //추천 일정 데이터 처리
        var reco_data = "{{ recommend }}".replace(/&quot;/g, "\"");
        var r_data = JSON.parse(reco_data);



        //달력 컨텐츠 출력
        dates.forEach((date, i) => {
            const condition = i >= firstDateIndex && i <= lastDateIndex
                                ? 'this'
                                : 'other';
            if(condition == "this"){
                var tmp;
                if(date<10){
                    tmp = m.toString() + "." + "0"+ date.toString() + ".";
                }
                else{
                    tmp = m.toString() + "." + date.toString() + ".";
                }
                //날씨 출력
                for(j=0; j<k.length; j++){
                    var img;
                    if(tmp !== k[j]){
                        if(result[tmp] !== undefined){
                            if (result[tmp] === "맑음"){
                                img = `<img id="wet" style="width:30px; height:30px; margin-left:5px;" src = "{% static 'img/icons8-태양-48.png' %}">`;
                            }
                            else if(result[tmp] === "구름많음" || result[tmp] === "구름조금"){
                                img = `<img id="wet" style="width:30px; height:30px; margin-left:5px;" src = "{% static 'img/icons8-부분적으로-흐린-날-48.png' %}">`
                            }
                            else if(result[tmp] === "흐림"){
                                img = `<img id="wet" style="width:30px; height:30px; margin-left:5px;" src = "{% static 'img/icons8-구름-48.png' %}">`
                            }
                            else if(result[tmp] === "비 또는 눈" || result[tmp] === "눈 또는 비" || result[tmp] === "가끔 비 또는 눈, 한때 비 또는 눈" || result[tmp] === "가끔 눈 또는 비, 한때 눈 또는 비"){
                                img = `<img id="wet" style="width:30px; height:30px; margin-left:5px;" src = "{% static 'img/icons8-진눈깨비-48.png' %}">`
                            }
                            else if(result[tmp] === "안개" || result[tmp] === "연무" || result[tmp] === "박무 (엷은 안개)"){
                                img = `<img id="wet" style="width:30px; height:30px; margin-left:5px;" src = "{% static 'img/icons8-안개-날-48.png' %}">`
                            }
                            else if(result[tmp] === "빗방울"){
                                img = `<img id="wet" style="width:30px; height:30px; margin-left:5px;" src = "{% static 'img/icons8-젖은-48.png' %}">`
                            }
                            else if(result[tmp] === "눈날림"){
                                img = `<img id="wet" style="width:30px; height:30px; margin-left:5px;" src = "{% static 'img/icons8-눈-폭풍-48.png' %}">`
                            }
                            else if(result[tmp] === "낙뢰"){
                                img = `<img id="wet" style="width:30px; height:30px; margin-left:5px;" src = "{% static 'img/icons8-폭풍-48.png' %}">`
                            }
                            else if(result[tmp] === "황사"){
                                img = `<img id="wet" style="width:30px; height:30px; margin-left:5px;" src = "{% static 'img/icons8-먼지-48.png' %}">`
                            }
                            else if(result[tmp].includes("비") || result[tmp].includes("소나기")){
                                img = `<img id="wet" style="width:30px; height:30px; margin-left:5px;" src = "{% static 'img/icons8-강렬한-비-48.png' %}">`
                            }
                            else if(result[tmp].includes("눈")){
                                img = `<img id="wet" style="width:30px; height:30px; margin-left:5px;" src = "{% static 'img/icons8-눈-48.png' %}">`
                            }
                        } 
                        else{
                            img = ``;
                        }
                    }
                    //운동 아이콘 출력
                    if(tmp !== w_k[j]){
                        if(weather_sports[tmp] !== undefined){
                            var spo = ``;
                            for(var a in weather_sports[tmp]){
                                if(weather_sports[tmp][a] == 1){
                                    spo += `<img id="spo" style="width:20px; height:20px;" src = "{% static 'img/icons8-축구-2-30.png' %}">`;
                                }
                                else if(weather_sports[tmp][a] == 2){
                                    spo += `<img id="spo" style="width:20px; height:20px;" src = "{% static 'img/icons8-달리는-24.png' %}">`;
                                }
                                else if(weather_sports[tmp][a] == 3){
                                    spo += `<img id="spo" style="width:20px; height:20px;" src = "{% static 'img/icons8-농구-30.png' %}">`;
                                }
                                else if(weather_sports[tmp][a] == 4){
                                    spo += `<img id="spo" style="width:20px; height:20px;" src = "{% static 'img/icons8-shuttercock-32.png' %}">`;
                                }
                                else if(weather_sports[tmp][a] == 5){
                                    spo += `<img id="spo" style="width:20px; height:20px;" src = "{% static 'img/icons8-야구-공-30.png' %}">`;
                                }
                                else{
                                    spo += `<img id="spo" style="width:20px; height:20px;" src = "{% static 'img/icons8-테니스-30.png' %}">`;
                                }
                            }
                        }
                        else{
                            spo = ``;
                        }
                    }
                }

                //멤버 별 일정 디스플레이
                var sche=``;
                for(l=0; l<s_k.length; l++){
                    if(individual[s_k[l]].includes(tmp) === true){
                        sche += color_list[s_k[l]];
                    }
                }

                //추천 일정 디스플레이
                var reco_date=``;
                for(h=0; h<r_data.length; h++){
                    var datas = r_data[h];
                    if(datas["date"].includes(tmp) === true){
                        if(datas["rank_point"] === "완전추천"){
                            reco_date = `<span id="reco_d1">${datas["rank_point"]}</span>`;
                        }
                        else if(datas["rank_point"] === "추천"){
                            reco_date = `<span id="reco_d2">${datas["rank_point"]}</span>`;
                        }
                        else{
                            reco_date=``;
                        }
                    }
                }
                //그룹 일정 데이터 처리
                var group_sche = "{{ sche_data }}".replace(/&quot;/g, "\"");
                console.log(group_sche);
                if(group_sche != ""){
                    var g_sche = JSON.parse(group_sche);
                
                    var g_k = Object.keys(g_sche);
    
    
                    //그룹 일정 디스플레이
                    var g_date=``;
                    for(g=0; g<g_k.length; g++){
                        var conductor = g_k[g];
                        conductor = g_k[g].split("-");
                        conductor[1] = conductor[1].replace("0","");
                        var tmp2 = conductor[1]+"."+conductor[2]+".";
                        if(tmp2 == tmp){
                            console.log(g_sche[g_k[g]]);
                            g_date = `<li style="font-size:13px; line-height:20px; color:black;">${g_sche[g_k[g]][0]}(${g_sche[g_k[g]][1]})</li>`;
                        }
                    }
                }
                else{
                    g_date=``;
                }
                

            }
            else{
                img=``;
                spo=``;
                sche='';
                reco_date=``;
                g_date=``;
            }
            dates[i] = `<div class = "date"><span class = "${condition}">${date}${img}</span><div>${spo} ${reco_date}</div><div>${sche}</div><ul id="g-date">${g_date}</ul></div>`;
        })

        document.querySelector('.dates').innerHTML = dates.join('');


        //오늘 날짜에 TODAY 출력
        const today = new Date();
        if (viewMonth === today.getMonth() && viewYear === today.getFullYear()) {
            for (let date of document.querySelectorAll('.this')) {
                if (+date.innerText === today.getDate()) {
                    date.classList.add('today');
                    break;
                }
            }
        }


    };

    renderCalender();

    //선호 운동 종목 디스플레이
    var sports_data = "{{ sportsall }}".replace(/&quot;/g, "\"");
    var sport = JSON.parse(sports_data);
    for(i=0; i<sport.length; i++){
        document.getElementById(sport[i]).checked = true;
    }

    //강퇴 폼 구현
    var kick = document.getElementById("kickOut");
    for(i=0; i<m_k.length; i++){
        kick.innerHTML += `<label style="margin-right:10px;"><input type="checkbox" name="kickList[]" value="${members[i]}">${members[i]}</label>`;
    }

    //그룹 추천페이지 이동 시 현재 그룹명 get방식으로 전송
    var cur_url = window.location.href;
    var group = cur_url.split('?');
    group = decodeURIComponent(group[1], "UTF-8");

    //현재 접속중인 유저명, 그룹 방장명 데이터 수신
    var reco_div = document.getElementById("list-area-3");
    var myID = "{{ my_name }}".replace(/&quot;/g, "\"");
    var ownerID = "{{ owner_name }}".replace(/&quot;/g, "\"");

    //그룹 방장명 !== 현재 유저명 이면 추천페이지 이동 불가
    function groupName(){
        if(myID !== ownerID){
            alert("그룹 방장에게만 권한이 있습니다!");
        }
        else{
            window.location.href = `{% url 'cal:group_recommend' %}?${group}`;
        }
    }


    //팝업창 열기
    //그룹 방장명 !== 현재 유저명 이면 일정추가, 초대하기, 강퇴하기 불가
    function openPop(data) {
        if(myID !== ownerID){
            alert("그룹 방장에게만 권한이 있습니다!");
        }
        else{
            document.getElementById("popup_layer"+data.toString()).style.display = "block";
        }
    }
    //팝업창 닫기
    function closePop(data) {
        document.getElementById("popup_layer"+data.toString()).style.display = "none";
    }

</script>
{% endblock %}