<!-- 
    작성자 : 최고운

    최고운 - html/css 작성, 내 그룹 디스플레이, 초대 요청 디스플레이, get 방식 데이터 전송
 -->

{% extends 'cal/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/group_managing.css' %}">

<!-- swiper 라이브러리 -->
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />


{% endblock %}

{% block main %}
<div id="group-outer">
    <!-- 내 그룹 디스플레이 -->
    <p class="ptag" style="padding-top:30px; margin-bottom:0px;">내 그룹<img src="{% static 'img/icons8-group-32 (1).png' %}"></p><br>
    <div id="my-group">
        <a id="link" href="{% url 'cal:group_making' %}"><div id="groupMake" style="margin-top:40px;"><br><img class="icons" src="{% static 'img/icons8-더하다-32.png' %}"><br>그룹 만들기</div></a>
        <div id="my-group-inner" class="swiper">
            <div id="groupList" class="swiper-wrapper">
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
    <!-- 그룹 초대 요청 내역 디스플레이 -->
    <p class="ptag" style="margin-top:40px;">그룹 초대 요청<img src="{% static 'img/icons8-add-user-group-man-man-24.png' %}"></p>
    <div id="group-invite" class="swiper">

        <div id="group-invite-inner" class="swiper-wrapper">
            <!-- <form method="POST"> -->
                {% csrf_token %}
            <!-- </form> -->
        </div>
        <div class="swiper-button-prev" id="bt1"></div>
        <div class="swiper-button-next" id="bt2"></div>


    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script>
    //get 방식으로 데이터 전송
    function sendToCalendar(data){
        var sendData = encodeURIComponent(data, "UTF-8");
        location.href = `{% url 'cal:calendar' %}?${sendData}`;
    }

    //그룹 정보 데이터의 운동 종목 데이터 처리
    function sportConductor(s_d){
        var arr = new Array();

        s_d = s_d.replace("[","");
        s_d = s_d.replace("]","");
        s_d = s_d.replace(/ /g,"");
        s_d = s_d.split(",");

        for(l=0; l<s_d.length; l++){
            arr.push(s_d[l].replace(/&#x27;/g, ""));
        }
        return arr
    }

    //그룹 별 선호 종목 데이터
    function iconConductor(s){
        var sicons =``;
        for(k=0; k<s.length; k++){
            switch(s[k]){
                case "1":
                sicons += `<img id="spo" style="width:20px; height:20px;" src = "{% static 'img/icons8-축구-2-30.png' %}">`;
                break;

                case "2":
                sicons += `<img id="spo" style="width:20px; height:20px;" src = "{% static 'img/icons8-달리는-24.png' %}">`;
                break;

                case "3":
                sicons += `<img id="spo" style="width:20px; height:20px;" src = "{% static 'img/icons8-농구-30.png' %}">`;
                break;

                case "4":
                sicons += `<img id="spo" style="width:20px; height:20px;" src = "{% static 'img/icons8-shuttercock-32.png' %}">`;
                break;

                case "5":
                sicons += `<img id="spo" style="width:20px; height:20px;" src = "{% static 'img/icons8-야구-공-30.png' %}">`;
                break;

                case "6":
                sicons += `<img id="spo" style="width:20px; height:20px;" src = "{% static 'img/icons8-테니스-30.png' %}">`;
                break;
            }
        }
        return sicons
    }

    //개인/그룹 초대 요청의 운동 종목 데이터 처리
    function sportConductor(s_d){
        var arr = new Array();

        s_d = s_d.replace("[","");
        s_d = s_d.replace("]","");
        s_d = s_d.replace(/ /g,"");
        s_d = s_d.split(",");

        for(l=0; l<s_d.length; l++){
            arr.push(s_d[l].replace(/&#x27;/g, ""));
        }
        return arr
    }

    //그룹 정보 데이터 처리
    var group_data = "{{ df_inner_join }}".replace(/&quot;/g, "\"");
    var g_data = JSON.parse(group_data);

    //내 그룹 데이터 처리
    var mygroup_data = "{{ my_group }}".replace(/&#x27;/g, "\"");
    var mg_data = JSON.parse(mygroup_data);

    //내 그룹 디스플레이
    for(j=0; j<mg_data.length; j++){
        var t = g_data[mg_data[j]]["member_num"];
        var sp = g_data[mg_data[j]]["sports"];
        sp = sportConductor(sp);
        var sp_icon = iconConductor(sp);

        //get방식으로 calendar페이지로 데이터 전송 및 그룹별 캘린더 페이지 이동
        //그룹 별 인원 및 선호 종목 디스플레이
        document.getElementById("groupList").innerHTML += `<a href="javascript:sendToCalendar('${mg_data[j]}');" class="swiper-slide"><div><img style="margin-top:13px;" class="icons" src="{% static 'img/KakaoTalk_20220510_230525576_01.png' %}"><br>${mg_data[j]} 그룹<br>${t}명<br><span>${sp_icon}</span></div></a>`;
    }


    //초대 요청 내역 디스플레이
    var invitation_list = "{{ invite_group }}".replace(/&quot;/g, "\"");
    if(invitation_list != "{}"){
        var invitation = JSON.parse(invitation_list);
        var p_k = Object.keys(invitation["개인초대"]);
        var inner = document.getElementById("group-invite-inner");
        for(i=0; i<p_k.length; i++){
            var personal_d = invitation["개인초대"][p_k[i]];
            var personal_d_num = personal_d["num_member"];
            var personal_d_spo = personal_d["sports"];
            personal_d_spo = sportConductor(personal_d_spo);
            personal_d_spo = iconConductor(personal_d_spo);
    
            inner.innerHTML += `<div class="swiper-slide d2"><img class="icons" src="{% static 'img/KakaoTalk_20220510_230525576_01.png' %}" style="padding-top:10px;"><br>${p_k[i]} 그룹<br>${personal_d_num}명<br><span>${personal_d_spo}</span><br><input type="text" name="gname" value="${p_k[i]}" style="display:none;"><button id="accept" type="button" onclick="sendData('${p_k[i]}')">수락하기</button></div>`;
        }
    }
    
    function sendData(d){
        $.ajax({
            type : 'POST',
            data : {
                'g_name': d
            },
            success:function(data){
                console.log(d);
            },
        });

        window.location.href = `{% url 'cal:calendar' %}?${d}`;
    }

    
    

    //내 그룹 부분, 그룹 초대 요청 부분 슬라이드 방식으로 구현 -> swiper 라이브러리 사용
    const swiper = new Swiper( '.swiper', {
        autoplay: false,
        loop: false,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        slidesPerView: 3,
        slidesPerGroup : 3,
    });
    
</script>
{% endblock %}