<!-- 
    작성자 : 최고운, 정혜원

    최고운 - 날씨 출력, 사용자의 가능한 날짜 입력 받기, 저장하기 버튼 구현, 완료하기 버튼 구현 
    정혜원 - 
 -->

{% extends 'cal/base.html' %}
{% load static %}


{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'css/my_schedule.css' %}">
{% endblock %}

{% block main %}
<!-- 로고 -->
<div id="logo"><img src="{% static 'img/icons8-입안자-24.png' %}"><p>언제 만나</p></div>
<!-- 달력 구현 -->
<div class="calender_box">
    <div class="calender">
        <!-- 안내 문구 -->
        <div class="header">
            <div class="year-month"></div>
            <div class="select">
                <p>운동할 수 있는 날을 선택해주세요!</a>
            </div>
        </div>

        <div class="main">
            <div class="days">
                <div class="day">SUN</div>
                <div class="day">MON</div>
                <div class="day">TUE</div>
                <div class="day">WED</div>
                <div class="day">THU</div>
                <div class="day">FRI</div>
                <div class="day">SAT</div>
            </div>
            <div class="dates"></div>
        </div>
    </div>
</div>
<!-- 서버로 데이터 전송 -->
<form id="subm2" action="{% url 'cal:my_schedule' %}" method="POST">
    {% csrf_token %}
    <!-- 사용자 입력 데이터를 담을 input form -->
    <input type="text" id="myDates" name="myDates" style="display:none;">
    <div id="bt-manage">
        <!-- 저장하기 버튼 -->
        <button id="subm" type="submit">저장하기</button>
        <!-- 완료하기 버튼 -->
        <button id="subm" type="button" onclick="relocate();">완료하기</button>
    </div>
    
</form>

{% endblock %}

{% block script %}
<script>
    //달력 구현
    const date = new Date();
    const renderCalender = () => {
        const viewYear = date.getFullYear();
        const viewMonth = date.getMonth();

        document.querySelector('.year-month').textContent = `${viewYear}년 ${viewMonth + 1}월`;

        const prevLast = new Date(viewYear, viewMonth, 0);
        const thisLast = new Date(viewYear, viewMonth+1, 0);

        const PLDate = prevLast.getDate();
        const PLDay = prevLast.getDay();

        const TLDate = thisLast.getDate();
        const TLDay = thisLast.getDay();

        const prevDates = [];
        const thisDates = [...Array(TLDate + 1).keys()].slice(1);
        const nextDates = [];

        if (PLDay !==6) {
            for (let i = 0; i<PLDay +1; i++){
                prevDates.unshift(PLDate -i);
            }
        }

        for (let i = 1; i < 7 - TLDay; i++){
            nextDates.push(i);
        }

        const dates = prevDates.concat(thisDates, nextDates);
        const firstDateIndex = dates.indexOf(1);
        const lastDateIndex = dates.lastIndexOf(TLDate);


        const m = viewMonth + 1;

        //날씨 데이터 처리
        const weather_data = "{{ data }}".replace(/&quot;/g, "\"");
        var w = "{% static 'img/icons8-구름-48.png' %}";
        const result = JSON.parse(weather_data);
        var k = Object.keys(result);

        //달력 컨텐츠 출력
        dates.forEach((date, i) => {
            const condition = i >= firstDateIndex && i < lastDateIndex+1
                                ? 'this'
                                : 'other';
            if(condition == "this"){
                //날씨 출력
                for(j=0; j<k.length; j++){
                    if(date<10){
                        tmp = m.toString() + "." + "0"+ date.toString() + ".";
                    }
                    else{
                        tmp = m.toString() + "." + date.toString() + ".";
                    }
                    var img;
                    if(tmp !== k[j]){
                        if(result[tmp] !== undefined){
                            if (result[tmp] === "맑음"){
                                img = `<img id="wet" style="width:30px; height:30px; margin-left:5px;" src = "{% static 'img/icons8-태양-48.png' %}">`;
                            }
                            else if(result[tmp] === "구름많음" || result[tmp] === "구름조금"){
                                img = `<img id="wet" style="width:30px; height:30px; margin-left:5px;" src = "{% static 'img/icons8-부분적으로-흐린-날-48.png' %}">`
                            }
                            else if(result[tmp] === "흐림"){
                                img = `<img id="wet" style="width:30px; height:30px; margin-left:5px;" src = "{% static 'img/icons8-구름-48.png' %}">`
                            }
                            else if(result[tmp] === "비 또는 눈" || result[tmp] === "눈 또는 비" || result[tmp] === "가끔 비 또는 눈, 한때 비 또는 눈" || result[tmp] === "가끔 눈 또는 비, 한때 눈 또는 비"){
                                img = `<img id="wet" style="width:30px; height:30px; margin-left:5px;" src = "{% static 'img/icons8-진눈깨비-48.png' %}">`
                            }
                            else if(result[tmp] === "안개" || result[tmp] === "연무" || result[tmp] === "박무 (엷은 안개)"){
                                img = `<img id="wet" style="width:30px; height:30px; margin-left:5px;" src = "{% static 'img/icons8-안개-날-48.png' %}">`
                            }
                            else if(result[tmp] === "빗방울"){
                                img = `<img id="wet" style="width:30px; height:30px; margin-left:5px;" src = "{% static 'img/icons8-젖은-48.png' %}">`
                            }
                            else if(result[tmp] === "눈날림"){
                                img = `<img id="wet" style="width:30px; height:30px; margin-left:5px;" src = "{% static 'img/icons8-눈-폭풍-48.png' %}">`
                            }
                            else if(result[tmp] === "낙뢰"){
                                img = `<img id="wet" style="width:30px; height:30px; margin-left:5px;" src = "{% static 'img/icons8-폭풍-48.png' %}">`
                            }
                            else if(result[tmp] === "황사"){
                                img = `<img id="wet" style="width:30px; height:30px; margin-left:5px;" src = "{% static 'img/icons8-먼지-48.png' %}">`
                            }
                            else if(result[tmp].includes("비") || result[tmp] === "소나기"){
                                img = `<img id="wet" style="width:30px; height:30px; margin-left:5px;" src = "{% static 'img/icons8-강렬한-비-48.png' %}">`
                            }
                            else if(result[tmp].includes("눈")){
                                img = `<img id="wet" style="width:30px; height:30px; margin-left:5px;" src = "{% static 'img/icons8-눈-48.png' %}">`
                            }
                        } 
                        else{
                            img = ``;
                        }
                    }
                }
                dates[i] = `<div class = "date"><span class = "${condition}">${date}${img}<div><button class="bt" id="${date}" type="button" onclick="submitDate(${date});"><img width="15" height="15" src="{% static 'img/check.png' %}"></button></div></span></div>`;
            }
            else{
                img=``;
                dates[i] = `<div class = "date"><span class = "${condition}">${date}${img}<div></div></span></div>`;
            }
            
            
        })

        document.querySelector('.dates').innerHTML = dates.join('');


        //오늘 날짜에 TODAY 출력
        const today = new Date();
        if (viewMonth === today.getMonth() && viewYear === today.getFullYear()) {
            for (let date of document.querySelectorAll('.this')) {
                if (+date.innerText === today.getDate()) {
                    date.classList.add('today');
                    break;
                }
            }
        }


    };

    renderCalender();

    //사용자 선택 날짜 배열 데이터로 변환, input form의 value 값으로 저장
    var myDate = Array();
    var month = date.getMonth()+1;
    function submitDate(date){
        var but = document.getElementById(date);
        but.style.backgroundColor="white";
        but.innerHTML = `<img width="20" height="20" src="{% static 'img/thumbs-up.png' %}">`;
        myDate.push(month.toString()+"."+date.toString());
        var hide = document.getElementById("myDates");
        hide.value = myDate;
        console.log(hide.value);
    }

    //현재 속한 그룹의 달력페이지로 이동
    //현재 그룹명 get방식으로 전송
    function relocate(){
        var loc = "{{ curr_group }}".replace(/&quot;/g, "\"");
        var loc_p = JSON.parse(loc);
        console.log(loc_p);
        window.location.href = `{% url 'cal:calendar' %}?${loc_p}`;
    }


    

</script>
{% endblock %}