@font-face {
    font-family: 'KOTRA_BOLD-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EliceDigitalBaeum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
html{
    font-family: 'KOTRA_BOLD-Bold';
    height:100% !important;
}
body{
    height:100% !important;
}
#body-wrapper{
    height:100% !important;
}
header{
    position:absolute;
    width: 100%;
    height:60px;
    left:0px;
    top:0px;
    background-color: #F7F7F7;
}
#body-content{
    height:100% !important;
}
#navbar-brand{
    position:absolute;
    top:15px;
    padding-left:30px;
}
#navbar_brand div{
    height:30px;
}
#navbar-nav li{
    list-style: none;
    float:left;
    position:relative;
    margin:5px 15px;
    padding:0;
    font-size: 13px;
}
#navbar-nav ul{
    position:absolute;
    right:10px;
    top:-1.5px;
}
#navbar-nav{
    height:40px;
    padding:5px 1px;
    margin:0;
}
a{
    text-decoration: none;
    color:black;
}
/* footer{
    position:absolute;
    width:100%;
    height:70px;
    left:0px;
    bottom:0px;
    background-color:#F7F7F7 ;
    margin-top:70px;
}

footer ul{
    margin:0px;
}
footer li{
    list-style:none;
    font-weight: 100;
    font-family: 'EliceDigitalBaeum';
    color:rgb(119, 119, 119);
    text-align: center;
    line-height: 70px;
} */
