/* 작성자 : 최고운, 정혜원 */

@font-face {
    font-family: 'KOTRA_BOLD-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SuncheonB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SuncheonB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* calender section */
.calender_box{
    float: left;
    margin-left: 70px;
    position:absolute;
    top:160px;
    width: 950px;
    height: 700px;
    background-color: #84D9D9;
    border-radius: 15px;
}
.calender {
    width: 917px;
    margin: 17px;
    font-family: 'SuncheonB';
}

.header {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}
/* 년,월 표시 */
.year-month {
    font-size: 25px;
    font-family: 'KOTRA_BOLD-Bold';
    color: white;
    padding-bottom: 10px;
    display: inline-block;
}

/* 스케줄 추가 버튼 */
.schedule-add{
    float: right;
    top:10px;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    padding-bottom: 10px;
}

.schedule-btn{
    display: inline-block;
    width: 120px;
    height: 40px;
    color:#626262;
    background-color: #F7F7F7;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    border: transparent;
    font-size: 20px;
    font-family: 'SuncheonB';
    line-height: 40px;
}
.schedule-btn:focus{
    background-color: #d3d3d3;
}

/*popup*/
.popup_layer {
    position:fixed;
    top:0;
    left:0;
    z-index: 10000; 
    width: 100%; 
    height: 100%; 
}
/*팝업 박스*/
.popup_box{
    position: fixed;
    top:50%;
    left:50%; 
    overflow: auto; 
    height: 323px; 
    transform:translate(-50%, -50%);
    z-index:1002;
    box-sizing:border-box;
    background:#F7F7F7;
    border-radius: 10px;
    padding:10px;
}
.border{
    border:dashed 2px #626262;
    border-radius: 10px;
    height: 290px;
}
#border2 form{
    margin-top:35px;
    font-family: 'SuncheonB';
}
#border3 form{
    margin-top: 30px;
    font-family: 'SuncheonB';
}
/*컨텐츠 영역*/
#invite-name{
    width:200px;
    height:30px;
    padding-left:10px;
}
#invite-name:focus::placeholder{
    color:transparent;
}
.popup_box .popup_cont {
    padding:10px;
    font-size:14px;
}
.popup_cont form{
    width:250px;
    margin:auto;
}
.popup_cont form input, .popup_cont form textarea{
    margin-left:10px;
    border: solid 1px #757575;
    border-radius: 8px;
}
.popup_cont span{
    color:#757575;
}
.popup_cont button{
    width:250px;
    border:none;
    height:30px;
    background-color: #94CEF2;
    font-family:'SuncheonB' ;
    color:white;
    font-size:15px;
    border-radius: 10px;
    cursor: pointer;
}
.popup_cont{
    text-align: center;
}

.main{
    width: 917px;
    background-color: white;
}

.days {
    display: flex;
}

.day{
    width: calc(917px/7);
    height: 39px;
    text-align: center;
    border-left: 1.5px solid #84D9D9;
    padding-top:20px;
}

.dates {
    display: flex;
    flex-flow: row wrap;
    height: 530px;
    border-top: 1px solid #84D9D9;
}

.date {
    width: calc(871px/7);
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
    border-bottom: 1.5px solid #84D9D9;
    border-left: 1.5px solid #84D9D9;
}

.day:nth-child(7n+1),
.date:nth-child(7n+1){
    color: #FF0000;
}

.day:nth-child(7n),
.date:nth-child(7n){
    color: #0500FF;
}

.other{
    opacity: 0.3;
}

.today{
    position: relative;
}

.today::before {
    position: absolute;
    font-family: 'SuncheonB';
    top: 20px;
    left: 80px;
    display: block;
    width: 30px;
    height: 30px;
    color: #84D9D9;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    content: 'TODAY';
}

/* 운동할 수 있는 날 추가 */
.day-add{
    width: fit-content;
    height: fit-content;
    float: left;
    margin-left: 20px;
    border-radius: 20px;
}

.day-btn{
    position:absolute;
    right:70px;
    top:160px;
    font-family: 'SuncheonB';
    width: 350px;
    height: 40px;
    background-color: #C9C9C9;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
    padding-top:15px;
    text-align: center;
    border:3px solid #626262;
}

/* 리스트 영역들 */
.list-area{
    width: 350px;
    height: fit-content;
    position: absolute;
    right:70px;
    margin-left: 20px;
    margin-bottom: 20px;
}
#list-area-1{
    top:220px;
}
#list-area-2{
    top:415px;
}
#list-area-3{
    top:660px;
    padding-bottom: 50px;
}

.list-area > p{
    font-family: 'SuncheonB';
    font-size: 20px;
    color: #626262;
    margin-bottom:7px;
}

.list-box{
    width: 340px;
    height: 130px;
    border-style: dashed;
    color: #626262;
    border-radius: 15px;
}

.part-btn{
    display: inline-block;
    width: 152px;
    height: 38px;
    background-color: #E5E5E5;
    color: #626262;
    text-align: center;
    border-style: none;
    border-radius: 10px;
    font-family: "SuncheonB";
    margin-left: 12px;
    margin-top: 10px;
    cursor: pointer;
    line-height: 38px;
}

img{
    vertical-align: middle;
}
#logo{
    width:200px;
    height:70px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 80px;
    position:absolute;
    right:850px;
}
#logo img{
    width:45px;
    height:45px;
    vertical-align:middle;
}
#logo p{
    font-family: 'KOTRA_BOLD-Bold';
    display: inline;
    height:50px;
    font-size:35px;
    vertical-align: middle;
}

input[type=checkbox]{
    width:20px;
    height:20px;
    vertical-align: middle;
    margin-right:7px;
    outline: none;
    border:solid 2px rgb(92, 92, 92);
    color:rgb(92, 92, 92);
}
input[type=checkbox]{
    accent-color: rgb(92, 92, 92);
}
#sports{
    text-align: center;
}
#sports form{
    margin-top:22px;
}
#sports label{
    font-family: 'SuncheonB';
}
#rec{
    text-align: center;
    font-family: 'SuncheonB';
}
#rec p{
    font-size: 15px;
    display: inline-block;
    width:245px;
    margin-top:35px;
}
#reco_d1{
    margin-left:10px;
    font-size: 14px;
    background-color: rgb(255, 188, 188);
    color:white;
    display: inline-block;
    width:60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 10px;
}
#reco_d2{
    margin-left:10px;
    font-size: 14px;
    background-color: rgb(255, 188, 243);
    color:white;
    display: inline-block;
    width:60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 10px;
}