@font-face {
    font-family: 'KOTRA_BOLD-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SuncheonB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SuncheonB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#logo{
    width:200px;
    height:70px;
    text-align: center;
    margin: auto;
}
#logo img{
    width:45px;
    height:45px;
    vertical-align:middle;
}
#logo p{
    font-family: 'KOTRA_BOLD-Bold';
    display: inline;
    height:50px;
    font-size:35px;
    vertical-align: middle;
}
#signup{
    width:800px;
    background-color: #F7F7F7;
    border-radius: 10px;
    text-align: center;
    margin:auto;
    position: absolute;
    left:50%;
    top:50%;
    margin-left: -400px;
    margin-top: -250px;
}
form{
    display: inline-block;
    width:800px;
    margin-top:30px;
    margin-bottom:30px;
}
input[type=text], input[type=password], input[type=email], input[type=tel]{
    width:300px;
    height:20px;
    filter: drop-shadow(0px 2px 2px #84D9D9);
    padding:10px;
    margin:10px 8px;
    border:none;
    font-size: 20px;
    font-family: 'SuncheonB';
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=tel]:focus{
    outline: none;
}
input[type=text]:focus::placeholder, input[type=password]:focus::placeholder, input[type=email]:focus::placeholder, input[type=tel]:focus::placeholder{
    color:transparent;
}
button{
    width:230px;
    height:40px;
    background: rgba(132, 217, 217, 0.25);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border:none;
    text-align: center;
    margin-top:30px;
    margin-bottom: 10px;
    color:rgb(62, 62, 62);
    font-size: 20px;
    font-family: 'SuncheonB';
    cursor: pointer;
}
.input-box{
    display:inline-block;
}
#outer{
    width:680px;
    margin:auto;
}
#check img{
    vertical-align: top;
    width:25px;
    height:25px;
    margin-right:5px;
}
#check label{
    display: inline-block;
    width:150px;
    font-family: 'SuncheonB';
    color:rgb(62, 62, 62);
}
#check div{
    margin-top:20px;
    font-family: 'SuncheonB';
    color:#84D9D9;
    font-size: 20px;
}
input[type=checkbox]{
    width:20px;
    height:20px;
    vertical-align: middle;
    margin-right:7px;
    outline: none;
    border:solid 2px rgb(92, 92, 92);
}
input[type=checkbox]{
    accent-color: rgb(92, 92, 92);
}
