{% extends 'cal/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static './css/signup.css' %}">
{% endblock %}

{% block main %}

{% if error %}
{{ error }}
<br>
<br>
{% endif %}

<div id="signup">
    <form action="{% url 'common:signup' %}" method="POST">
        {% csrf_token %}
        <div id="logo"><img src="{% static 'img/icons8-입안자-24.png' %}"><p>언제 만나</p></div>

    <div id="outer">
        <div class="input-box" style="display:block; float:left;">
            <input name="username" id="username" type="text" placeholder="ID">
        </div>

        <div class="input-box">
            <input name="password1" id="password1" type="password" placeholder="PASSWORD" style="margin-right:10px;">
            <input name="password2" id="password2" type="password" placeholder="CONFIRM PASSWORD">
        </div>

        <div class="input-box">
            <input name="email" id="email" type="email" placeholder="ADDRESS" style="margin-right:10px;">
            <input name="tel" id="tel"  type="tel" placeholder="PHONE NUMBER">
        </div>
    </div>

        <div id="check">
            <div>CHECK YOUR SPORTS!</div><br>

            <label><input type="checkbox" value="1"><img src="{% static 'img/icons8-축구-2-30.png' %}">축구</label>
            <label><input type="checkbox" value="2"><img src="{% static 'img/icons8-달리는-24.png' %}">조깅</label>
            <label><input type="checkbox" value="3"><img src="{% static 'img/icons8-농구-30.png' %}">농구</label><br><br>
            <label><input type="checkbox" value="4"><img src="{% static 'img/icons8-shuttercock-32.png' %}">배드민턴</label>
            <label><input type="checkbox" value="5"><img src="{% static 'img/icons8-야구-공-30.png' %}">야구</label>
            <label><input type="checkbox" value="6"><img src="{% static 'img/icons8-테니스-30.png' %}">테니스</label>
        </div>

        <button type="submit">JOIN</button>
    </form>
</div>
{% endblock %}